
    a,
  .more
  {
    color: #008238;
    border-color: #008238;
  }
    a:hover,
  .post_footer_details li a:hover,
  .bread_crumb li a:hover,
  .post_footer_details li a:hover,
  #comments_list .comment_details .posted_by a:hover,
  #cancel_comment:hover
  {
    color: #008238;
    border-color: #008238;
  }
    .box_header:after
  {
        background: #7CBA3D;
      }
    .footer .box_header:after
  {
        background: #7CBA3D;
      }
    .footer .timeago
  {
    color: #7CBA3D;
  }
    .sentence
  {
    color: #008238;
  }
    blockquote,
  blockquote p
  {
    color: #008238;
    border-color:  #008238;
  }
    .header_right a.scrolling_list_control_left:hover, 
  .header_right a.scrolling_list_control_right:hover,
  .pagination li a:hover,
  .pagination li.selected a,
  .pagination li.selected span,
  .tabs_navigation li a:hover,
  .tabs_navigation li a.selected,
  .tabs_navigation li.ui-tabs-active a,
  .categories li a:hover,
  .widget_categories li a:hover,
  .categories li.current-cat a,
  .widget_categories li.current-cat a,
  .scrolling_list li a:hover .number,
  .controls .close:hover, .controls .prev:hover, .controls .next:hover
  {
        border-color: #7CBA3D;
      }
    .footer .header_right a.scrolling_list_control_left:hover, 
  .footer .header_right a.scrolling_list_control_right:hover,
  .footer .pagination li a:hover,
  .footer .pagination li.selected a,
  .footer .pagination li.selected span,
  .footer .tabs_navigation li a:hover,
  .footer .tabs_navigation li a.selected,
  .footer .tabs_navigation li.ui-tabs-active a,
  .footer .categories li a:hover,
  .footer .widget_categories li a:hover,
  .footer .scrolling_list li a:hover .number
  {
        border-color: #7CBA3D;
      }
    .sf-menu li:hover a, .sf-menu li.selected a, .sf-menu li.current-menu-item a, .sf-menu li.current-menu-ancestor a
  {
        background-color: #7CBA3D;
      }
    .sf-menu li ul li a:hover, .sf-menu li ul li.selected a, .sf-menu li ul li.current-menu-item a,
  .sf-menu li.submenu ul li a:hover, .sf-menu li.submenu:hover ul li.selected a, .sf-menu li.submenu:hover ul li.current-menu-item a,
  .sf-menu li.submenu:hover ul li.selected ul li a:hover,.sf-menu li.submenu:hover ul li.current-menu-item ul li a:hover, .sf-menu li.submenu:hover ul li ul li.selected a, .sf-menu li.submenu:hover ul li ul li.current-menu-item a, .sf-menu li.submenu:hover ul li.selected ul li.selected a, .sf-menu li.submenu:hover ul li.selected ul li.current-menu-item a,
  .sf-menu li.submenu:hover ul li.menu-item-type-custom a:hover, .sf-menu li ul li.menu-item-type-custom a:hover
  {
        border-bottom: 2px solid #7CBA3D;
    padding-bottom: 14px;
      }
  @media screen and (max-width:1009px)
  {
    .sf-menu li ul li a:hover, .sf-menu li ul li.selected a, .sf-menu li ul li.current-menu-item a,
    .sf-menu li.submenu ul li a:hover, .sf-menu li.submenu:hover ul li.selected a, .sf-menu li.submenu:hover ul li.current-menu-item a,
    .sf-menu li.submenu:hover ul li.selected ul li a:hover,.sf-menu li.submenu:hover ul li.current-menu-item ul li a:hover, .sf-menu li.submenu:hover ul li ul li.selected a, .sf-menu li.submenu:hover ul li ul li.current-menu-item a, .sf-menu li.submenu:hover ul li.selected ul li.selected a, .sf-menu li.submenu:hover ul li.selected ul li.current-menu-item a,
    .sf-menu li ul li.menu-item-type-custom a:hover
    {
            padding-bottom: 11px;
          }
  }
  .sf-menu li.submenu:hover ul li.menu-item-type-custom a,
  .sf-menu li.submenu:hover ul li.selected ul li a,
  .sf-menu li.submenu:hover ul li.current-menu-item ul li a,
  .sf-menu li ul li.menu-item-type-custom a
  {
    color: #888;
        border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
      }
    .tabs_box_navigation.sf-menu .tabs_box_navigation_selected
  {
    background-color: #008238;
  }
    .tabs_box_navigation.sf-menu .tabs_box_navigation_selected:hover
  {
    background-color: #7CBA3D;
  }
    .tabs_box_navigation.sf-menu li:hover ul, .tabs_box_navigation.sf-menu li.sfHover ul
  {
    border-color: #7CBA3D;
  }
    .comment_form .mc_button,
  .contact_form .mc_button
  {
        background-color: #008238;
    border-color: #008238;
          }
    .comment_form .mc_button:hover,
  .contact_form .mc_button:hover
  {
        background-color: #7CBA3D;
    border-color: #7CBA3D;
          }
    .search .search_input:focus,
  .comment_form .text_input:focus, .comment_form textarea:focus, 
  .contact_form .text_input:focus, .contact_form textarea:focus
  {
        border-top: 1px solid #7CBA3D;
      }
    .comment_box .date .value
  {
        background-color: #008238;
      }
    .comment_box .date .arrow_date
  {
    border-color: #008238 transparent;
  }
    .comment_box .comments_number a
  {
        background-color: #7CBA3D;
      }
    .comment_box .arrow_comments
  {
    border-color: #7CBA3D transparent;
  }
    .gallery_box:hover .description
  {
    background-color: #7CBA3D;
  }
    .gallery_box:hover .item_details
  {
        border-bottom: 2px solid #7CBA3D;
    padding-bottom: 19px;
      }
    .timetable .event
  {
        background-color: #008238;
      }
    .timetable .event.tooltip:hover,
  .timetable .event .event_container.tooltip:hover,
  .tooltip .tooltip_content
  {
        background-color: #7CBA3D;
      }
    .tooltip .tooltip_arrow
  {
    border-color: #7CBA3D transparent;
  }
    .timetable .hours
  {
    color: #BBE095;
  }
    .tip
  {
    background-color: #008238;
  }
    .accordion .ui-accordion-header h3
  {
    background-image: url('http://quanticalabs.com/wp_themes/medicenter-green/wp-content/themes/medicenter/images/accordion/green/accordion_plus.png');
  }
  .accordion .ui-accordion-header.ui-state-hover h3
  {
    color: #008238;
  }
  .accordion .ui-accordion-header.ui-state-active
  {
    background: #008238;
    border-color: #008238;
  }
    .top_hint
  {
    background-color: #7CBA3D;
  }
  .welcome-container{
    background: url('../images/bubble3.png') no-repeat;
    width:265px;
    height:392px;
    position: absolute;
    left: 310px;
    top: 70px;
    padding: 115px 60px 0 60px;
    color: #FFFFFF;
    /*font-weight: bold;*/
    font-size: 18px;
    text-shadow: 0px 0px 9px #2C2B2B;
    line-height: 25px;
  }
.pdflink{
  color: #0088cc;
  text-decoration: none;
  outline: 0;
  cursor: auto;
  border-bottom: none;
}
.pdflink:hover{
  /*color: #005580;*/
  text-decoration: none;
  outline: 0;
  border-bottom: none;
}
.container_12{
  clear: both;
  display: block;
  text-align: left;
  float: left;
  padding: 10px 0px;
  min-height: 10px;
  height: 26px;
  line-height: 1.6em;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}
fieldset {
background: #FFFFFF;
padding: 10px;
border: 0px solid #fff;
border-color: #fff #666661 #666661 #fff;
margin-bottom: 5px;
margin-top: 10px;
border-right-color: #FFF;
border-bottom-color: #FFF;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
-moz-border-radius-bottomleft: 6px;
-moz-border-radius-bottomright: 6px;
-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
}
#report_send12file tbody,
#report_send12file tr,
#report_send12file td {
font-size: 1.4rem;
font-family: inherit;
text-rendering: optimizeLegibility;
}